C#/TestExcelToWord/bin/
C#/TestExcelToWord/obj/
C#/TestExcelToWord/.vs/
C#/TestExcelToWord/TestExcelToWord.csproj.user
C++/TestExcelToWord/Debug/
C++/TestExcelToWord/Release/
C++/TestExcelToWord/.vs/
C++/TestExcelToWord/TestExcelToWord.vcxproj.user
*.docx
